<div class='dr'>
  <button type="button" ng-click='undoLast()'>Undo</button>
  <div box-listeners class="dr-status-box" ng-repeat="status in data" statusId='{{status.headerId}}' statusName='{{status.header}}' statusOrder ='{{status.statusOrder}}' elementType='statusbox'>
    
    <!-- <div> -->
    <div class="dr-status-title">{{status.header}}</div>
    <div class="dr-company-container">
      <div draggable-item 
        ng-click='renderModal(company)' 
        ng-repeat='company in status.subTasks' 
        class='dr-company' 
        statusOrder = '{{status.statusOrder}}'
        companyId='{{company.id}}'      companyName='{{company.name}}' 
        statusId='{{status.headerId}}'  statusName='{{status.header}}'>   {{company.name}}
      </div>
    </div>
  </div>
    <!-- </div> -->

</div>
