  <section id="container" class="">
    <!--header start-->
    <header class="header white-bg">
      <div class="sidebar-toggle-box">
      </div>
      <!--logo start-->
      <a href="index.html" class="logo" >Hack<span>Reactor</span></a>
      <!--logo end-->
      <a href="http://hackreactor.com"> 
          <img  style="position: fixed; top: 0; right: 0; border: 0;" 
                src="http://i.imgur.com/x86kKmF.png" 
                alt="Built at Hack Reactor"> 
      </a>
      </div>
    </header>
    <!--header end-->
    
    <!--main content start-->
    <section id="main-content">
      <section class="wrapper site-min-height">

        <div class="text-center">
          <a href='/auth/asana'>
            <img src='../../assets/asana-oauth-button-blue.png'></img>
          </a>
        </div>


    </section>
    </section>

    <footer class="site-footer">
      <div class="text-center">
        2013 &copy; HackReactor
        <a href="#" class="go-top">
            <i class="fa fa-angle-up"></i>
        </a>
      </div>
    </footer>
      <!--footer end-->
  </section>


    <!-- js placed at the end of the document so the pages load faster -->
    <script>
        jQuery(document).ready(function() {
            DraggablePortlet.init();
        });
    </script>
