body { padding-top:30px; }


.dr {
  border: 1px solid blue;
  height: 300px;
  text-align: center;
  display: inline-block;
}

.dr-status-box{
  border: 1px solid red;
  height: 100%;
  width: 160px;
  font-weight: bold;
  margin: 5px;
  float: left;
}

.dr-status-title{
  color: red;
}

.dr-company{
  border: 1px solid green;
  margin: 2px;
  color: black;
}

.dr-drag{
  opacity: 0.3;
}

.dr-over-valid{
  border-width: 3px;
  border-color: green;
}

.dr-over-invalid{
  border-width: 3px;
  border-color: red;
}